.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-body {
  padding: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cards-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

.selectable-list {
  width: 100%;
  overflow: scroll;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.selectable-list-option {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: flex;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  background-color: #eeeeee;
  overflow: hidden;
}

.selectable-list-option-art-container {
  overflow: hidden;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.selectable-list-option-art {
  width: 100px;
}

.selectable-list-option-faction-container {
  width: 30px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  flex-shrink: 0;
}

.red {
  background-color: rgb(173, 26, 54);
}

.blue {
  background-color: rgb(19, 113, 151);
}

.yellow {
  background-color: rgb(233, 196, 60)
}

.gray {
  background-color: rgb(159, 159, 153);
}

.selectable-list-option-text-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 5px;
}

.slo-text-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.slo-text-subtitle {
  font-size: 10px;
  margin-bottom: 5px;
}

.slo-text-card-text {
  font-size: 11px;
}

.image-crop {
  height: 80px;
  overflow: hidden;
  width: 80px;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  box-shadow: 0px 0px 10px #888888;
}

.card-info {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 150px;
}

.selected-character {
  height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.character-card-image {
  height: 100%;
}

.character-card-image > img {
  height: 100%;
}

.character-picker {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.picker {
  padding: 10px;
}

.dice {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 20px;
}

.potential-die {
  background-color: rgb(159, 159, 153)
}

.dice-options {
  margin-left: 15px;
}

.available-dice-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 100%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.available-dice {
  height: 20px;
  width: 20px;
  background-color: #161616;
  border-radius: 3px;
}