.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-body {
  padding: 15px;
}

.cards-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

.selectable-list {
  width: 100%;
  overflow: scroll;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.selectable-list-option-container {
  width: 100%;
  height: 130px;
  margin: 5px 0;
  
}

@media (min-width: 600px) {
  .selectable-list-option-container {
    width: 400px;
    height: 100px;
    margin: 5px;
  }
}

.selectable-list-option {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: flex;
  
  border: 1px solid black;
  border-radius: 5px;
  
  height: 100%;
  background-color: #eeeeee;
  overflow: hidden;
  cursor: pointer;
}

.selectable-list-option-art-container {
  overflow: hidden;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.selectable-list-option-art {
  width: 100px;
}

.selectable-list-option-faction-container {
  width: 30px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 100%;
}

.red {
  background-color: rgb(173, 26, 54);
}

.blue {
  background-color: rgb(19, 113, 151);
}

.yellow {
  background-color: rgb(233, 196, 60)
}

.gray {
  background-color: rgb(159, 159, 153);
}

.selectable-list-option-text-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 5px;
}

.slo-text-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.slo-text-subtitle {
  font-size: 10px;
  margin-bottom: 5px;
}

.slo-text-card-text {
  font-size: 11px;
}

.image-crop {
  height: 80px;
  overflow: hidden;
  width: 80px;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  box-shadow: 0px 0px 10px #888888;
}

.card-info {
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 150px;
}

.selected-character {
  height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  padding: 10px;
}

.character-card-image {
  height: 100%;
  cursor: pointer;
}

.character-card-image > img {
  height: 100%;
}

.character-picker {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.character-list-container {
  height: 500px;
  overflow: scroll;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  max-width: 1230px;
}

.picker {
  padding: 10px;
}

.dice {
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 20px;
}

.potential-die {
  background-color: rgb(159, 159, 153);
  cursor: pointer;
}

.removable-die {
  cursor: pointer;
}

.dice-options {
  margin-left: 15px;
}

.available-dice-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 100%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.available-dice {
  height: 20px;
  width: 20px;
  background-color: #161616;
  border-radius: 3px;
  color: #cccccc;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

.option-full-art {
  position: absolute;
  animation: fadein 1.2s;
  box-shadow: 2px 2px 20px 5px #000000;
  border-radius: 15px;
  overflow: hidden;
  height: 350px;
}

.option-full-art > img {
  height: 350px;
}
