.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-body {
  padding: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
}

.selectable-list {
  width: 100%;
  height: 280px;
  overflow: scroll;
  display: flex;
}

.selectable-list-option {
  height: 200px;
  flex-shrink: 0;
  display: flex;
  padding: 10px;
}

.selectable-list-option-art {
  height: 100%;
}

.image-crop {
  height: 80px;
  overflow: hidden;
  width: 80px;
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 0px 0px 10px #888888;
}

.card-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
}

.selected-character {
  height: 300px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.character-card-image {
  height: 100%;
}

.character-card-image > img {
  height: 100%;
}

.character-picker {
  display: flex;
  flex-wrap: wrap;
}

.picker {
  padding: 10px;
}

.dice {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-die {
  background-color: grey;
}

.potential-die {
  background-color: lightblue;
}

.dice-options {
  margin-left: 15px;
}

.available-dice-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 40px;
  flex-shrink: 0;
}

.available-dice {
  height: 25px;
  width: 25px;
  background-color: black;
}